# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store
.idea/.idea.ActivityAnalysis/.idea/encodings.xml
.idea/.idea.ActivityAnalysis/.idea/indexLayout.xml
.idea/.idea.ActivityAnalysis/.idea/projectSettingsUpdater.xml
.idea/.idea.ActivityAnalysis/.idea/vcs.xml
.idea/.idea.ActivityAnalysis/.idea/workspace.xml